$font-size:          13px;
$line-height:        1.5;
$font-square:        "NanumSquare", "Malgun Gothic", sans-serif;

/*메인 칼라*/
$base-point-color1:   #3593e2;
$base-point-color2:   #a54eff;
$point-color1:        #a44fff;

/*배경 칼라 */
$bg-white-color:      #fff;
$bg-color:            #ecf3ff;

/*라인 칼라 */
$border-color:        #e5e5e5;

/*글자색*/
$base-color:         #909cb1;
$bold-color:         #526a82;

/*버튼 칼라 */
$btn-color:           #00b1e5;

/* 그림자색 */
/*#4c64de;*/

$path:                "../images/";
$font-path:           "../fonts/";
